extends base_email.pug
//- email body
block email
  tr
    td(align='center' valign='top' style='padding:0px')
      h1= data.descripcion
      p Este trabajo fue cancelado
      a(href!=`${data.link}`) Ver los detalle del trabajo
